<!-- ete refov enk grum, dimuma 4200/docs , stanum e nuyn html-y vory nuyn mer index.html- e, scriptnery kpcrats
bayc single-i depkum redirectneri jamanak petka vor noric serverin chgna client side lini, petk ejy reload refresh chlini, bayc componenty poxvi -->
<!-- <a href="/docs">Docs</a> -->
<header>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLink="/docs" routerLinkActive="active">Docs</a>
    <a routerLink="/features" routerLinkActive="active">Features</a>
    <a routerLink="/resources" routerLinkActive="active">Resources</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>

</header>
