<app-header></app-header>
<!-- <app-header></app-header> -->
<!-- directive e vor grancvats e router moduleum u export arats e -->
 <!-- router-outlet handisanum e routingi kazmakerpoghy, sra teghy(aveli jisht iranic nerkev) render e linelu en componenty vory vor hamapatasxanelu e tvyal pathin --> 
<router-outlet /> 

<button (click)="onClick($event)">Redirect</button>

<div #paragraph> asdtert</div> 
<!-- //orinak sovorakan depkum id='inch vor ban', ete uzum eink elementy vercnel, angularum # template variable -->

<div #par>
    <p>M </p>
    <p>M </p>
    <p>M </p>

</div>
<!-- temp template-i reference. ete componenti vra enk dnum uremn componenti instance-i hascen e vercnum -->
<ng-template #temp> 
    <div>Render In Child</div>
</ng-template>

<section>
   sdf
   asd
   asd 
</section>
<section>
    sdf
    asd
    asd 
 </section>


 <app-test /> 
 <!-- sra poxaren karank grenk nayev espes -->
 <!-- ete selectory test componenti sarkenk espes ` selector: '[app-test]', css styleingi orinakna berum te erb app-test-ov ogtagortsenk voch te enpes
 <div app-test></div> -->
 <!-- attribute directive structuralic tarbervum en nranov vor structuraly DOM-um inch vor change e anelu, manipulation e anum, isk attribute menak inch vor style ban e popoxum - nayev routerLink, ngClass-->

 <!-- inch vor paymanic kaxvats class tas kam chtas ngClass ես օգտագործում -->
 <p [ngClass]="bool ? 'class1': ''">Directive Attribute</p>

 <!-- style-y inline vor grum enk style da e -->

 <p appColor="green" fontSize="20px">Color Red</p>

 <a appMyLink="home">Redirect Directive</a>

 <p *appHideAfter="5000; then afteTemplate"> Hide Element</p>

 <ng-template #afteTemplate>
  <div>After</div> 
 </ng-template>